{
	"handlers": {
		"smartthings": {
			"base_url": "https://graph-na02-useast1.api.smartthings.com:443",
			"app_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
			"access_token": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
		},
		"http": {}
	},
	"bindings": [
		{
			"key": "KEY_F1",
			"handler": "http",
			"parameters": {
				"method": "GET",
				"url": "http://www.google.com",
				"params": { "q": "harmony" }
			}
		},
		{
			"key": "KEY_F2",
			"handler": "smartthings",
			"parameters": {
				"name_or_id": "Den Overheads",
				"command": "setLevel",
				"value": 40
			}
		}
	]
}

